#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: 'Harrington';
  src: url(/public/harrington.zip);
  background-color: #140421;
  letter-spacing: 3;
}

.buttonReiniciar {
  color: #FF0000;
  border-color: #FF0000;
  background-color: #470516;
  font-size: large;
}

.buttonIntento {
  color: #03FF06;
  border-color: #03FF06;
  background-color: #032E06;
  font-size: large;
  margin-left: 10px;
}

input {
  font-size: x-large;
  background-color: black;
  border-color: grey;
}
